apiVersion: v1
kind: Service
metadata:
  name: neogenesis-core-blue
spec:
  selector:
    app: neogenesis-core
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: grpc
      port: 50051
      targetPort: 50051
